<!-- forgetPassword.ejs -->
<h1>Forget Password</h1>
<% if (error) { %>
  <p><%= error %></p>
<% } %>
<form action="/password/forget-password" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required>
  <button type="submit">Reset Password</button>
</form>
