<!-- 

  <div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row">
      <% if(searchResults != '') { %>
      <% searchResults.forEach(function (password, index) { %>
      <a href="/password/item/<%= password._id %>" style="display: block; text-decoration: none; color: #007bff; margin-bottom: 10px;">
        <h4 style="font-size: 18px; font-weight: bold; margin: 0;"><%= password.website %></h4>
      </a>
      <% }) %>
      <% } else { %>
      <p style="font-size: 16px; color: #555; margin: 0;">No items found.</p>
      <% } %>
    </div>
  </div>
   -->


   <div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row">
      <% if (searchResults !== '') { %>
        <% searchResults.forEach(function (password, index) { %>
          <div class="col-md-6 col-lg-4">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-center">
                <a href="/password/item/<%= password._id %>" style="text-decoration: none; color: #007bff;">
                  <h4 class="card-title" style="font-size: 18px; font-weight: bold; margin: 0;">
                    <%= password.website %>
                  </h4>
                </a>
                <p class="card-text mt-3" style="font-size: 14px; color: #555;">
                  Click heading for Additional details or description.
                </p>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="col">
          <div class="card">
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text" style="font-size: 16px; color: #555; text-align: center;">
                No items found.
              </p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  